################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC101
/bin/Debug/net9.0
/obj
/bin/Release/net9.0
